h1{
    color: red;
    text-align: center;
}

h2{
    color: white;
    background-color: black;
}

p{
    color: fuchsia;
}

button{
    font-size: xx-large;
}

select{
    color: brown;
}

.container{
    border: 1px solid red;
    display: flex;
    width: 900px;
    margin: 0 auto;
    padding: 60px;
}

.container > div{
    flex: 1;
}

image{
    position: fixed;
}